body {
  font-family: helvetica, arial, sans-serif;
  background-color: black
}

h1 {
  font-family: teko;
  color: white;
  margin-left: 40px;
}

.image {
  /*filter: grayscale(100%);
  filter: blur(10px);
  */
  display: block; 
  position: sticky;
  top: 100px;
  margin: auto;
  margin-bottom: 200px
}

.window {
  width: 25%
}

.house {
  width: 25%
}

.interstate {
  width: 30%
}

.clouds {
  width: 40%
}

.princeton {
  width: 50%;
  top: 80px;
}

.sunset {
  width: 60%;
  top: 75px;

}

.roof {
  width: 70%;
  top: 60px;
}

.road {
  width: 80%;
  top: 45px;
}

.path {
  width: 90%;
  top: 25px;
}

.beach {
  width: 100%;
  margin-bottom: 30px;
}
